<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceMainSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51983/WebServiceMain.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceMainSoap"
                contract="MainWebServiceReference.WebServiceMainSoap" name="WebServiceMainSoap" />
        </client>
    </system.serviceModel>
</configuration>